:root{
    --font-color-primary: #353040;
    --font-color-secondary: #353040cd;
    --button-color: #f96a68;
    --button-color-hover: #f96a68e2;
    --background-color: #E8E0E8;
    --font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--background-color);
    font-family: var(--font-family);
}
h1{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}
h2{
    font-size: 1.3em;
    font-weight: 100;
    margin: 0 35px 25px 35px;
    color: var(--font-color-secondary);
    line-height: 1.4;
}
a{
    text-decoration: none;
    color: #1772ead4;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: #a68aa625;
    width: 400px;
    height: 850px;
    padding: 35px 25px 25px 25px;
    line-height: 1.625;   
    border: 2px solid white;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
}
.containerText{
    text-align: center;
    color: var(--font-color-primary);
}
.containerInput{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0 10px;
}
input:first-child{
    padding: 20px;
    margin: 15px;
    border: none;
    border-radius: 10px;
    position: relative;
}
input{
    padding: 20px;
    margin: 15px 15px 0 15px;
    border: none;
    border-radius: 10px;
    position: relative;
}
.iconify-eye{
    color: grey;
    position: absolute;
    top: 375px;
    left: 360px;
    width: 25px;
    cursor: pointer;
}
p{
    font-size: 0.6em;
    margin-top: 15px;
    margin-left: 250px;
    margin-bottom: 30px;
    font-weight: 600;
    color: var(--font-color-secondary);
    line-height: 2;
}
.button{
    background-color: var(--button-color);
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    margin-left: 25px;
    color: white;
    font-weight: bold;
    transition: transform 0.2s;
}
.button:hover{
    background-color: var(--button-color-hover);
    box-shadow: inset;
    transform: scale(1.02);
}
h3{
    font-size: 0.8em;
    text-align: center;
    color: var(--font-color-secondary);

}
.containerIcon{
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}
.icon{
    background-color: transparent;
    padding: 12px 30px;
    border: 2px solid white;
    border-radius: 10px;
}
.continueWith{
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
}

.lign{
    background-color: grey;
    width: 40px;
    height: 2px;
    margin: 0 20px;
}
.hidden{
    display: none;
}
.iconify--logos{
    cursor: pointer;
}
.iconContainer{
    transition: transform 0.2s;
}
.iconContainer:hover{
    transform: scale(1.2);
}

@media screen and (min-width: 375px) and (max-width: 600px) {


}
    
}
